.fade-enter-active {
    animation: fade 0.8s;
}

.fade-leave-active {
    animation: fade 0.8s reverse;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}