.slide-left-enter-active {
    animation: slide-left 0.7s;
}

.slide-left-leave-active {
    animation: slide-left 0.7s reverse;
}

@keyframes slide-left {
    0% {
        transform: translateX(100vw);
    }

    100% {
        transform: translateX(0vw);
    }
}

.slide-left-delay-enter-active {
    animation: slide-left 1.4s;
}

.slide-left-delay-leave-active {
    animation: slide-left 1.4s reverse;
}

@keyframes slide-left {
    0% {
        transform: translateX(100vw);
    }

    50% {
        transform: translateX(100vw);
    }

    100% {
        transform: translateX(0vw);
    }
}